body,
html {
    height: 100%;
}
img{
    display: block;
}
.h69{
    height: 6.9rem;
    display: block;
}
.fixed{
    height: .9rem;
    background: #37216b;
    overflow: hidden;
    padding: .1rem .02rem 0rem .02rem;
}
.fixed li{
    float: left;
    width: 1.8rem;
    margin-left: .05rem;
    line-height: .76rem;
    color: #ff7012;
    text-align: center;
    font-size: .28rem;
    background: url(images/1.png) no-repeat;
    background-size: 1.8rem auto;
    height: .9rem;
}
.fixed li.active{
    background: url(images/2.png) no-repeat;
    background-size: 1.8rem auto;
    color: #fff;
}
.productlist1 .product-btn{
    top: 4.4rem;
}
.main1{
    overflow: hidden;
    background: #6e42d7;
    padding-bottom: .2rem;
    .main1_top{
        height: .78rem;
        li{
            width: 2.3rem;
            float: left;
            margin-left: .2rem;
            line-height: .6rem;
            text-align: center;
            color: #fff;
            font-size: .24rem;
            background: url(images/3.png) no-repeat;
            background-size: 2.3rem auto;
            height: .7rem;
        }
        li.active{
            background: url(images/4.png) no-repeat;
            background-size: 2.3rem auto;
            color: #ff4314;
        }
    }
}
.mart-2{
    margin-top: -.2rem;
}
.main2{
    background: #fce84c;
    overflow: hidden;
    padding: 0 .2rem;
    padding-bottom: .3rem;
}
.productlist2{
    padding-left: .2rem;
    width: 6.6rem;
}
.productlist2 .product-startadr, .productlist2 .product-reduction{
    left: .2rem;
}
.product-startadr, .product-reduction{
    display: none;
}
.he47{
    height: 4.7rem !important;
    img{
        width: 7.1rem;
        height: 4.7rem;
    }
}
.main2_swiper{
    margin-top: .2rem;
}
.main3{
    background: #048ef6;
    overflow: hidden;
    padding: 0 .2rem;
    padding-bottom: .3rem;
}
.main4{
    background: #f3edfe;
    overflow: hidden;
    padding: 0 .2rem;
    padding-bottom: .3rem;
}
.main5{
    background: #fffccf;
    overflow: hidden;
    padding: 0 .2rem;
    padding-bottom: .3rem;
    padding-right: 0;
    img{
        float: left;
        margin-right: .15rem;
        margin-top: .15rem;
        width: 3.48rem;
        height: 1.63rem;
    }
}
.no-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}